.footer-container{
	display: flex;
	justify-content: center;
	background-color: rgb(247, 250, 76);
	height: 190px;
	clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
.footer-item
{
	border: 2px solid rgb(255, 255, 255);
	width: 30%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	background-color: transparent;
	font-size: x-large;
	font-weight: bolder;
	cursor: pointer;
	float: left;
}
.footer-link{
	padding: 70px;
}
.footer-contact
{
	color: rgb(0, 0, 0);
	text-align: left;
	font-weight: bold;
	font-size: large;
	padding: 20px;
}