body, html {
    height: 100%;
}

.main{
    margin-top: 0%;
    background-color: #ffffff;
    width: 100%;
    margin-left: 0;
    font-family: Roboto, Tahoma, Verdana, Arial;
    color: #000000;
}
h1{
  margin-top: 5%;
  text-align: center;
  position: relative;
}
.background{
  float: left;
  display: block;
    min-width: 85%;
    height: 100%;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
    
}
/*Navigation Bar*/
.fixedcontainer{
  position: fixed;
  width: 100%;
  z-index: 1; /*Steuert Überlappen von Elementen*/
}
.logo{
  float: left;
  cursor: pointer;
  width: auto;
  height: 50px;
}
.navbar {
  font-size: 17px;
  width: 100%;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 8px -2px #000000;
  padding: 0%;
  margin-top: 0%;
  max-height: 3%;
}
.dropdownbtn{
  cursor: pointer;
}
.dropdown, .navelem{
  width: 18%;       /*Zum Ausfüllen der gesamten Navbar*/
  float: right;
  margin-top: 13px;      /*Fluss der Navbar von links nach rechts*/
}
.navelem a, .dropdownbtn {
  display: inline-block;
  color: black;
  text-align: center;
  width: 100%;
  text-decoration: none;
  
  
}
li a:hover, .dropdown:hover .dropdownbtn {
  /*background-color: #eed600;*/
  color: #4e5058;
  text-decoration: underline;
}
li.dropdown{
  
  display: inline-block;

  
}  
.dropdowncont{ /*DropDown Box*/
    display: none;
    position: absolute;
    background-color: #ffffff;
    padding-top: 14px;
    width: 20%;
    padding-bottom: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    
}
.dropdowncont a{
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  
}
.dropdown:hover .dropdowncont {display: block;}
/*.dropdowncont a:hover {background-color: #eed600;}
.dropdown:hover .dropdownbtn {background-color: #eed600;}*/
/*End Navigationbar*/

/*Slideshow Home*/
.slideshow{
  background-color: #fff066c4 ;
  max-width: 100%;
  min-width: 500px;
  margin-bottom: 20px;
}

.mySlides{
  display: none;
}

/*End SlideSHow Home*/
.content{
  min-height: 700px;
}

.bild{
  cursor: pointer;
    max-width: 50%;
    max-height: auto;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    max-height: auto;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(196, 191, 191, 0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  .content-container{
    text-align: left;
    display: flex;
    justify-content: space-between;
      font-size: 24px;
      padding: 5%;
  }
  
  .right-menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .right-menu-item{
    text-align: left;
    display: flex;
    border: 4px solid rgb(255, 255, 255);
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding: 50px;
    text-align: left;
  }
  
  .right-menu-item:hover{
    background-color: #f17e12;;
  }
  footer {
    display: flex;
    align-items: center;
    background-color: #e2b36b;
    width: 100%;
    height: 20%;
    list-style-type: none;
    z-index: 1;
  }
  .footerelem{
    float: left;
    color: black;
    text-align: center;
    width: 100%;
    text-decoration: none;
  }
  .footerlink{
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  .footerlink:hover{
    color: #4e5058;
    text-decoration: underline;
  }
  .footertext{
    text-align: left;
    font-size: small;
    margin-left: 30%;
  }
  



