body, html {
    height: 100%;
}
.main{
  
    background-color: #ffffff;
    width: 100%;
    font-family: Roboto, Tahoma, Verdana, Arial;
    color: #000000;
}
.titleimg{
    height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.background{
    
    min-width: 90%;
    float: both;
    margin-left: 5%;
    margin-right: 5%;
}
/*Whole Navigation Bar*/
.navbar{
    
    width: 100%;
    background-color: #fff066 ;
    text-align: center;

    

}
/*Single elements on the Bar*/
.navelem, .dropdownbtn{
    width: 20%;
	height: 10%;
    float: left;
    font-size: large;
    cursor: pointer;
    background-color: #fff066;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    text-align: center;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None; 
    
}

.dropdownbtn{
  position: relative;
  display: block;
  z-index:1;
}
/*Contains Content on home*/
.content{
  width: 100%;
    text-align: left;
  	position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    float: left;
}
/*Elements from the Drop Down Menu*/
.dropdownelem{
    width: 100%;
	  height: 100%;
    display: none;
    
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
	  background-color: #fff066;
    border-top: 1px solid #000000;

}
.slideshow{
    background-color: #fff066c4 ;
    max-width: 1000px;
    min-width: 500px;
    margin-bottom: 20px;

}
.bild{
  cursor: pointer;
    max-width: 50%;
    max-height: auto;
}
.texthome{
    float: right;
    font-size: 16pt;
    text-align: left;
    line-height: 200%;
    position: relative;
    margin: top;
    
}

.navelem:hover,.dropdownelem:hover{
    background-color: #eed600;
    text-decoration: underline;
    font-weight: 600;
}
.dropdownbtn:hover .dropdownelem{
  display: block;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(196, 191, 191, 0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  .content-container{
    text-align: left;
    display: flex;
    justify-content: space-between;
      font-size: 24px;
      padding: 5%;
  }
  
  .right-menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .right-menu-item{
    text-align: left;
    display: flex;
    border: 4px solid rgb(255, 255, 255);
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding: 50px;
    text-align: left;
  }
  
  .right-menu-item:hover{
    background-color: #f17e12;;
  }
  



